<footer>
    <div class="container my-5">
        <hr>
        <div class="row">
            <div class="col-lg-5 col-md-5 com-sm-12">
                <p>
                    <bold class="highlight m-3">Celestial Blogs</bold> – Your Gateway to the Cosmos
                    Explore the wonders of space, stay updated with the latest discoveries, and fuel your curiosity
                    about the universe. Join us in our journey across the stars and beyond.
                </p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-6 categories">
                <p class="highlight">Categories</p>
                <a href="#">Solar Explore</a>
                <a href="#">Space updated</a>
                <a href="#">Celestial News</a>
                <a href="#">About</a>
            </div>
            <div class="col-lg-3  col-md-3 col-sm-6 socials">
                <p class="highlight">Socials</p>
                <a href="#"><i class="bi bi-facebook m-2"></i></a>
                <a href="#"><i class="bi bi-discord m-2"></i></a>
                <a href="#"><i class="bi bi-linkedin m-2"></i></a>
                <a href="#"><i class="bi bi-github m-2"></i></a>
            </div>
        </div>
    </div>
</footer>