{% extends "master.html" %}
{% load static %}
{% block content %}
  <section class="home">
    <div class="moon-bg">
        <img src="{% static "assets/moon-png.png" %}" id="moon-scroll" alt="Rotating moon" width="35%" height="100%">
    </div>

    <div class="container justify-content-center">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white head-title title-glow">Explore Our <span class="highlight title-glow" style="font-size:6rem">Universe</span></h1>
                <h2 class="text-white highlight">A Place to Travel Around the Universe</h2>
            </div>
        </div>

        <h3 class="highlight mt-4">{{blog_title }}</h3>
        <hr>
        <div class="row">
            <!-- Trending Topics (Order 1 on mobile, order 2 on larger screens) -->
            <div class="col-lg-3 col-md-4 col-sm-12 order-md-2 order-sm-1 mb-4">
                <div class="card trending-topic">
                    <div class="card-body">
                        <h5 class="card-title">Trending Topics</h5>
                        {% if all_categories %}
                           {% for topics in all_categories %}
                            <a href="#"><span class="badge text-bg-info m-1">{{topics.name}}</span></a>
                           {% endfor %}
                        {% endif %}    
                        
                    </div>
                </div>
            </div>

            <!-- Posts (Order 2 on mobile, order 1 on larger screens) -->
            <div class="col-lg-9 col-md-8 col-sm-12 order-md-1 order-sm-2">
                <div class="row">
                    <!-- Single Post Card -->
                     
                {% if all_post %}
                    {% for post in all_post %}
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="card post-card">
                            <img src="{{post.img_url}}" loading="lazy" class="card-img-top post-img" alt="{{post.title}}">
                            <div class="card-body">
                                <span class="badge text-bg-light m-1">Universe</span>
                                <h5 class="card-title">{{post.title}}</h5>
                                <p class="card-text">{{post.content|truncatechars:50}}</p>
                                <a href="{% url 'details' slug=post.slug %}" class="btn rounded-pill read-me">Read me</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}    
                   
                </div>
            </div>
        </div>
    </div>
  </section>
{% endblock  %}
